@model CinemaProjectMVC.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@using (Html.BeginForm("Index", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.GenreId)
            @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select a Genre", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GenreId)
        </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.DurationInMinutes)
        @Html.TextBoxFor(m => m.DurationInMinutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DurationInMinutes)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating.Name)
        @Html.TextBoxFor(m => m.Rating.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Rating.Name)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="save-button">Save</button>
}