@model IEnumerable<CinemaProjectMVC.Models.Screening>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;">
    <h2>Screenings</h2>

    <p style="padding: 10px; margin: auto 5%;">
        @Html.ActionLink("New Screening", "New", "Screenings", null, new { @class = "button" })
    </p>
</div>

<table id="screenings" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Cinema</th>
            <th>Movie</th>
            <th>Date</th>
            <th>Available Seats</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            if (!Model.Any())
            {
                <tr>
                    <td class="empty-table" colspan="5">There are no screenings.</td>
                </tr>
            }
        }
        @foreach (var screening in Model)
        {
    <tr>
        <td>@Html.ActionLink(@screening.Cinema.Name, "Edit", "Screenings", new { id = @screening.Id }, null)</td>
        <td>@screening.Movie.Name</td>
        <td>@screening.Date.ToString("d MMM yyyy, HH:mm")</td>
        <td>@screening.Seats</td>
        @{
            @*var availableSeats = @screening.AvailableSeatsNumber - screening.AvailableSeats.FindAll(s => !s.isAvailable).Count;
            <td>@availableSeats</td>*@
        }
        <td>@screening.Price₪</td>
    </tr>

        }
    </tbody>
</table>

