@model CinemaProjectMVC.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = "OrderForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var Screenings = Model.Screenings;
}

<h2>Buy Tickets</h2>

<table id="screenings" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Date</th>
            <th>Price</th>
            <th>Seat Selection</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (!Screenings.Any())
            {
                <tr>
                    <td class="empty-table" colspan="5">There are no screenings.</td>
                </tr>
            }
        }
        @foreach (var screening in Screenings)
        {
            using (@Html.BeginForm("SeatSelection", "Orders", FormMethod.Post, new { id = screening.Id }))
            {
                @Html.ValidationSummary(true, "Please fix the following errors.")
                <tr id="form-@screening.Id">

                    <td>@screening.Movie.Name</td>

                    <td>@screening.Date.ToString("d MMM yyyy, HH:mm")</td>

                    <td id="price-@screening.Price">@screening.Price₪</td>

                    <td><button type="submit" class="redirect-to-seatselection-button" id="submit-@screening.Id">Select your seats</button></td>
                </tr>

                @Html.HiddenFor(s => screening.Id)
                @Html.AntiForgeryToken()
            }
        }
    </tbody>
</table>