@model CinemaProjectMVC.Models.Screening
@{
    ViewBag.Title = "SeatSelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please select your seats</h2>

<div class="seating-instructions-container">
    <div class="seating-instructions">
        <div class="green-instruction">
            <p class="instructions-text">Available Seat - </p>
            <p style="background: #52b788;" class="instruction-color-box"></p>
        </div>
        <div class="red-instruction">
            <p class="instructions-text">Booked Seat - </p>
            <p style="background: #ef476f;" class="instruction-color-box"></p>
        </div>
    </div>
</div>

<div class="screen-container">
    <div class="screen">

    </div>
</div>

<div class="seats-container">
    @foreach (var seat in Model.Seats)
    {
        if (seat.isAvailable)
        {
            <button class="seat available" id="@seat.Id">
                @seat.Location
            </button>
        }
        else
        {
            <button class="seat taken" id="@seat.Id" disabled>
                @seat.Location
            </button>
        }
    }
</div>

<div class="order-details" id="order-details">
    <p id="num-of-tickets">Number of Tickets: 0</p>
    <p id="total-price">Total: 0₪</p>
</div>

<button id="order-button" class="order-button" type="submit">Make a Reservation</button>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {

            $(".seat").click(seat => {
                if (!seat.target.classList.contains("selected")) {
                    seat.target.classList.add("selected");
                } else {
                    seat.target.classList.remove("selected");
                };

                $("#num-of-tickets").html("Number of Tickets: " + $(".selected").length);
                $("#total-price").html("Total: " + $(".selected").length * @Model.Price + "₪");
            });

            $("#order-button").click((e) => {
                var orderData = new Object();
                var chosenSeatsIDs = [];

                $(".selected").each((i, seat) => {
                    chosenSeatsIDs.push(seat.id);
                });

                orderData.screeningId = @Model.Id
                orderData.chosenSeats = chosenSeatsIDs;
                orderData.totalPrice = $(".selected").length * @Model.Price;

                if ($(".selected").length > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Save", "Orders")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(orderData),
                        dataType: 'html',
                        success: function (modal) {
                            $("body").append(modal);
                        },
                        error: function (xhr, status, error) {
                            alert(status);
                        }
                    });
                }
            });
        });
</script>
    }