@model IEnumerable<CinemaProjectMVC.Models.Cinema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;">
    <h2>Cinemas</h2>

    <p style="padding: 10px; margin: auto 5%;">
        @Html.ActionLink("New Cinema", "New", "Cinemas", null, new { @class = "button" })
    </p>
</div>


<table id="cinemas" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Cinema</th>
            <th>Address</th>
            <th>Total Seats</th>
            <th>Opens At</th>
            <th>Closes At</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (!Model.Any())
            {
                <tr>
                    <td class="empty-table" colspan="5">There are no cinemas.</td>
                </tr>
            }
        }
        @foreach (var cinema in Model)
        {
            <tr>
                <td>@Html.ActionLink(@cinema.Name, "Edit", "Cinemas", new { id = @cinema.Id }, null)</td>
                <td>@cinema.Address</td>
                <td>@cinema.TotalSeats</td>
                <td>@cinema.OpeningHour.Time.ToShortTimeString()</td>
                <td>@cinema.ClosingHour.Time.ToShortTimeString()</td>
                @*<td>
                    <button class="btn-link js-delete">Delete</button>
                </td>*@
            </tr>

        }
    </tbody>
</table>